<%= form_for(@calender) do |f| %>
  <% if @calender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calender.errors.count, "error") %> prohibited this calender from being saved:</h2>

      <ul>
      <% @calender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="row">
     <div class="col-lg-4 col-lg-offset-4">
         <div class="input-group"> -->
            <div class="form-group">
              <%= f.label :dateformat,"Date" %><br>
              <div class='input-group date' id='datetimepicker4'>
                  <%= f.text_field :dateformat,:class=>"form-control"%>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
            </div>
             <table class="table table-bordered table-hover">
               <tr>
                 <th>Times</th>
                 <% Interviewer.all.each do |interviewer| %>
                 <th>
                   <%=check_box_tag "interviewer_id#{interviewer.id}[]",interviewer.id,false,:id=>"interviewer_ids_#{interviewer.id}"%>
                   <%=interviewer.interviewername%></br>
                 </th>
                 <%=f.hidden_field :interviewername,:value=>"#{interviewer.interviewername}"%>
                 <%=f.hidden_field :interviewer_id,:value=>"#{interviewer.id}"%>
                 <%end%>
               </tr>
               <tbody>
               <tr>
                <% a=["6.30AM","7.00AM","7.30AM","8.00AM","8.30AM","9.00AM"]%>
                <% a.each_with_index do |a,i|%>
                 <tr>
                   <td><%=a%></td>
                   <% Interviewer.all.each do |interviewer| %>
                   <td><%=check_box_tag "interviewer_#{interviewer.id}[]",a,false,:id=>"interviewer_ids_#{interviewer.id}"%></td>
                   <%end%>
                 </tr>
                 <%= f.hidden_field :timeslot,:value =>"#{a}"%>
                <%end%>
              </tr>
            </tbody>
            </table>
          </br>
            <!-- <div class="form-group">
              <%= f.hidden_field :interviewer_id%>
            </div> -->
            <div class="form-group">
              <%= f.hidden_field :status,:value =>"new"%>
            </div>
            <div class="form-group">
              <%= f.hidden_field "companyemail",:class=>"required",:value => session[:companyemail]%>
            </div>
            <div class="form-group">
              <%= f.hidden_field "password",:class=>"required",:value => session[:password]%>
            </div>
        <div class="row">
          <div  class="col-lg-4 col-lg-offset-4">
            <div class="actions">
              <%= f.submit :class=>"btn btn-primary btn-lg",:id=>"interviewersubmit"%>
            </div>
         </div>
        </div>

  <% end %>
<script type="text/javascript">

$('.selectpicker').selectpicker({
    size: "fit",
    showTick:true,
    tickIcon:"",
    showTick:true
});
  var pd = new Date();
  pd.setDate(pd.getDate());
 $('#datetimepicker3').datetimepicker({
     format: 'LT'
   });

  $('#datetimepicker4').datetimepicker({
     format: 'DD-MM-YYYY',
     minDate:pd
   });
  $('th input[type="checkbox"]').click(function(){
    a=$(this).attr('id')
    if($(this).is(':checked'))
    {
      $("input[id='"+a+"']").prop('checked',true)
    }
    else
    {
        $("input[id='"+a+"']").prop('checked',false)
    }
  });
</script>
