<%= form_for(@calender) do |f| %>
  <% if @calender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calender.errors.count, "error") %> prohibited this calender from being saved:</h2>

      <ul>
      <% @calender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="input-group">
          <div class="field">
            <%= f.label :dates %><br>
            <%= f.date_select :dates %>
          </div>
          <div class='input-group date' id='datetimepicker2'>
             <%= f.text_field :times%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
              </span>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>
      </div>
    </div>
  </div>
<% end %>
