<p id="notice"><%= notice %></p>

<h1>Listing Calendar</h1>
<div class="table-responsive">
<table class="datatable table table-bordered table-hover sortable">
  <thead class="bg-success">
    <tr>
      <th class="text-info">Date</th>
      <th class="text-info">Time</th>
      <th class="text-info">Interviewer Name</th>
      <th class="text-info">Interviewer ID</th>
      <th class="text-info">Primary Skills ID</th>
      <th class="text-info">Secondary Skills ID</th>
      <th class="text-info">Status</th>
      <th class="text-info">Show</th>
      <th class="text-info">Edit</th>
      <th class="text-info">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @calenders.each do |calender| %>
      <tr>
        <td><%= calender.dateformat %></td>
        <td><%= calender.timeslot %></td>
        <td><%= calender.interviewername%></td>
        <td><%= calender.interviewer_id%></td>
        <td><%= calender.primaryskills_id%></td>
        <td><%= calender.secondaryskills_id%></td>
        <td><%= calender.status%></td>
        <td><%= link_to 'Show', calender,:class=>"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_calender_path(calender),:class=>"btn btn-info btn-sm" %></td>
        <td><%= link_to 'Destroy', calender, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javaScript">
 $('.datatable').DataTable({
    "paging": true,
    "ordering": true,
    "info": true,
    // "scrollX": "100%",
    // "scrollY": "300px"
  });

</script>
<br>
</div>
<%= link_to 'New Calender', new_calender_path %>
