<%= form_for(@candidatedetail) do |f| %>
  <% if @candidatedetail.errors.any? %>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div >
      <h4><%= pluralize(@candidatedetail.errors.count, "error") %> prohibited this candidatedetail from being saved:</h4>

      <ul>
      <% @candidatedetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <% if flash[:notice] %>
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= flash[:notice] %>
   </div>
  <% end %>
  <div class="row">
     <div class="col-lg-4 col-lg-offset-2">
         <div class="input-group">
        <div class="form-group">
          <%= f.label :candidatename,"Candidate Name" %><br>
          <%= f.text_field :candidatename,:placeholder=>"Candidate Name",:class => "form-control required",:required => true  %>
        </div>
        <div class="form-group">
          <%= f.label :candidateemail,"Candidate Email" %><br>
          <%= f.text_field :candidateemail,:placeholder=>"Candidate Email",:class => "form-control required",:required => true  %>
        </div>
        <div class="form-group">
          <%= f.label :candidatecontact,"Candidates Contact " %><br>
          <%= f.text_field :candidatecontact,:placeholder=>"Candidate Contact",:class => "form-control required",:required => true,:onkeypress=>"return isNumberKey(event)"%>
        </div>
        <div class="form-group">
          <%= f.label :yoe,"Year Of Experience" %><br>
          <%= f.select :yoe, options_for_select([["1", "1"], ["2", "2"],["3", "3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10", "10"], ["11", "11"],["12", "12"],["13","13"],["14","14"],["15","15"],["16","16"],["17","17"],["18","18"],["19","19"]]),:prompt => "--Select Experience--" %>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-lg-offset-1">
          <div class="input-group">
        <div class="form-group">
          <%= f.label :skills,"Skills"%><br>
          <%=f.select :skills,options_from_collection_for_select(Skillset.all,"skills","skills"), :prompt => "--Select Skills--",:class => "form-control required"%>
        </div>
        <div class="form-group">
          <%= f.label :jobtitle,"Job Title"%><br>
          <%= f.text_field :jobtitle,:placeholder=>"Job Title",:class=>"form-control required",:required=>true%>
        </div>
        <div class="form-group">
          <%= f.label :jobdescription,"Job Description"%><br>
          <%= f.text_area :jobdescription,:placeholder=>"Job Description",:class=>"form-control",:id=>"textarea"%>
        </div>
        <div class="form-group">
          <%= f.label :attachedfile,"Attached File"%><br>
          <%= f.file_field :attachedfile%>
        </div>
      </div>
      </div>
        <div class="form-group">
          <%= f.hidden_field "companyemail",:class=>"required",:value => session[:companyemail]%>
        </div>
        <div class="form-group">
          <%= f.hidden_field "password",:class=>"required",:value => session[:password]%>
        </div>
        <div class="form-group">
          <%= f.hidden_field :status,:value =>"new"%>
        </div>
        <div class="row">
          <div  class="col-lg-4 col-lg-offset-5">
            <div class="actions">
              <%= f.submit :class=>"btn btn-primary btn-lg",:id=>"submit"%>
            </div>
        </div>
      </div>
   </div>
 </div>
</div>
<% end %>
<script type="text/javascript">
function isNumberKey(evt)
    {
       var charCode = (evt.which) ? evt.which : event.keyCode
       if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

       return true;
    }
$('input[type="text"]').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});

   }
});
$('input[type="number"]').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
$('select').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
</script>
