<%= form_for(@candidatedetail) do |f| %>
  <% if @candidatedetail.errors.any? %>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div >
      <h2><%= pluralize(@candidatedetail.errors.count, "error") %> prohibited this candidatedetail from being saved:</h2>

      <ul>
      <% @candidatedetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="row">
     <div class="col-lg-4 col-lg-offset-4">
         <div class="input-group">
        <div class="field">
          <%= f.label :candidatename,"Candidate Name" %><br>
          <%= f.text_field :candidatename,:placeholder=>"Candidate Name",:class => "required",:required => true  %>
        </div>
        <div class="field">
          <%= f.label :candidateemail,"Candidate Email" %><br>
          <%= f.text_field :candidateemail,:placeholder=>"Candidate Email",:class => "required",:required => true  %>
        </div>
        <div class="field">
          <%= f.label :candidatecontact,"Candidates Contact " %><br>
          <%= f.text_field :candidatecontact,:placeholder=>"Candidate Contact",:class => "required",:required => true  %>
        </div>
        <div class="field">
          <%= f.label :yoe,"Year Of Experience" %><br>
          <%= f.select :yoe, options_for_select([["1", "1"], ["2", "2"],["3", "3"],["4","4"],["5","5"]]),:prompt => "--Select Experience--" %>
        </div>
        <div class="field">
          <%= f.label :skills,"Skills"%><br>
          <%=f.select :skills,options_from_collection_for_select(Skillset.all,"skills","skills"), :prompt => "--Select Skills--" %>
        </div>
        <div class="field">
          <%= f.label :jobdescription,"Job Description"%><br>
          <%= f.text_area :jobdescription,:placeholder=>"Job Description",:id=>"textarea"%>
        </div>
        <div class="field">
          <%= f.label :attachedfile,"Attached File"%><br>
          <%= f.file_field :attachedfile%>
        </div>
        <div class="form-group">
          <%= f.hidden_field "companyemail",:class=>"required",:value => session[:companyemail]%>
        </div>
        <div class="form-group">
          <%= f.hidden_field "password",:class=>"required",:value => session[:password]%>
        </div>
        <div class="form-group">
          <%= f.hidden_field :status,:value =>"new"%>
        </div>
        <div class="actions">
          <%= f.submit :class=>"btn btn-primary btn-lg"%>
        </div>
   </div>
 </div>
</div>
<% end %>
