.jumbotron
  %h3 Candidatedetails
  .table-responsive
    %table.table.table-bordered.table-hover.sortable
      %thead.bg-success
        %tr
          %th Candidatename
          %th Candidateemail
          %th Candidatecontact
          %th Yoe
          %th Skills
          %th Jobdescription
          %th AttachedFile
          %th{:colspan => "3"}
      %tbody
        - @candidatedetails.each do |candidatedetail|
          %tr
            %td= candidatedetail.candidatename
            %td= candidatedetail.candidateemail
            %td= candidatedetail.candidatecontact
            %td= candidatedetail.yoe
            %td= candidatedetail.skills
            %td= candidatedetail.jobdescription
            %td= candidatedetail.attachedfile
            %td= link_to 'Show', candidatedetail
            %td= link_to 'Edit', edit_candidatedetail_path(candidatedetail)
            %td= link_to 'Destroy', candidatedetail, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Candidatedetail', new_candidatedetail_path
