<p id="notice"><%= notice %></p>

<p>
  <strong>Candidatename:</strong>
  <%= @candidatedetail.candidatename %>
</p>

<p>
  <strong>Candidateemail:</strong>
  <%= @candidatedetail.candidateemail %>
</p>

<p>
  <strong>Candidatecontact:</strong>
  <%= @candidatedetail.candidatecontact %>
</p>

<p>
  <strong>Yoe:</strong>
  <%= @candidatedetail.yoe %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @candidatedetail.skills %>
</p>

<p>
  <strong>Jobdescription:</strong>
  <%= @candidatedetail.jobdescription %>
</p>

<%= link_to 'Edit', edit_candidatedetail_path(@candidatedetail) %> |
<%= link_to 'Back', candidatedetails_path %>
