<%= form_for(@interviewer) do |f| %>
  <% if @interviewer.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@interviewer.errors.count, "error") %> prohibited this interviewer from being saved:</h4>

      <ul>
      <% @interviewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
     <div class="col-lg-4 col-lg-offset-4">
         <div class="input-group">
            <div class="form-group">
              <%= f.label :interviewername,"Interviewer Name" %><br>
              <%= f.text_field :interviewername,:placeholder=>"Interviewer Name",:class=>"form-control required",:required=>true%>
            </div>
            <div class="field">
              <%= f.label :interviewercompany,"Interviewer Company" %><br>
              <%= f.text_field :interviewercompany,:placeholder=>"Interviewer Company",:class=>"form-control required",:required=>true %>
            </div>
            <div class="field">
              <%= f.label :companyemail,"Company Email"%><br>
              <%= f.text_field :companyemail ,:placeholder=>"Company Email",:class=>"form-control required",:required=>true%>
            </div>
            <div class="field">
              <%= f.label :primaryskills,"Primary Skills"%><br>
              <%= f.select :primaryskills,options_from_collection_for_select(Skillset.all,"id","skills"),:prompt=>"--Select Primary Skills--" %>
            </div>

            <div class="field">
              <%= f.label :secondaryskills,"Secondary Skills"%><br>
              <%= f.select :secondaryskills,options_from_collection_for_select(Skillset.all,"id","skills"),:prompt=>"--Select Secondary Skills--" %>
            </div>
            <div class="form-group">
              <%= f.hidden_field :primaryskills_id%>
            </div>
            <div class="form-group">
              <%= f.hidden_field :secondaryskills_id%>
            </div>
            <div class="field">
              <%= f.label :otherskills,"Other Skills"%><br>
              <%= f.text_field :otherskills,:placeholder=>"Other Skills",:class=>"form-control required",:required=>true%>
            </div>
         </div>
      </div>
            <div class="row">
              <div  class="col-lg-4 col-lg-offset-4">
              <div class="actions">
              <%= f.submit :class=>"btn btn-primary btn-lg",:id=>"interviewersubmit"%>
            </div>
          </div>
        </div>

</div>
<% end %>
<script type="text/javascript">
$('#interviewer_primaryskills').change(function(){
  var text=$('#interviewer_primaryskills option:selected').text();
  $('#interviewer_primaryskills_id').val(text);
});
$('#interviewer_secondaryskills').change(function(){
  var text=$('#interviewer_secondaryskills option:selected').text();
  $('#interviewer_secondaryskills_id').val(text);
});
$('input[type="text"]').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
$('input[type="number"]').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
$('select').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
</script>
