<%= form_for(@interviewer) do |f| %>
  <% if @interviewer.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@interviewer.errors.count, "error") %> prohibited this interviewer from being saved:</h4>

      <ul>
      <% @interviewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
     <div class="col-lg-4 col-lg-offset-4">
         <div class="input-group">
            <div class="field">
              <%= f.label :interviewername,"Interviewer Name" %><br>
              <%= f.text_field :interviewername %>
            </div>
            <div class="field">
              <%= f.label :interviewercompany,"Interviewer Company" %><br>
              <%= f.text_field :interviewercompany %>
            </div>
            <div class="field">
              <%= f.label :companyemail,"Company Email"%><br>
              <%= f.text_field :companyemail %>
            </div>
            <div class="field">
              <%= f.label :skills1,"Skill 1"%><br>
              <%= f.select :skills1,options_from_collection_for_select(Skillset.all,"id","skills"),:prompt=>"--Select Skill--" %>
            </div>
            <div class="field">
              <%= f.label :skills2,"Skill 2"%><br>
              <%= f.select :skills2,options_from_collection_for_select(Skillset.all,"id","skills"),:prompt=>"--Select Skill--" %>
            </div>
            <div class="field">
              <%= f.label :skills3,"Skill 3"%><br>
              <%= f.select :skills3,options_from_collection_for_select(Skillset.all,"id","skills"),:prompt=>"--Select Skill--" %>
            </div>
            <div class="field">
              <%= f.label :skills4,"Skill 4"%><br>
              <%= f.select :skills4,options_from_collection_for_select(Skillset.all,"id","skills"),:prompt=>"--Select Skill--" %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
     </div>
   </div>
</div>
<% end %>
<script type="text/javascript">
$('input[type="text"]').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
$('input[type="number"]').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
$('select').focusout(function(){
   if($(this).val()=="")
   {
     $(this).css({"border-color":"red","border-width":"2px"});
   }
   else
   {
     $(this).css({"border-color":"skyblue"});
   }
});
</script>
