<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewername:</strong>
  <%= @interviewer.interviewername %>
</p>

<p>
  <strong>Interviewercompany:</strong>
  <%= @interviewer.interviewercompany %>
</p>
<p>
  <strong>Primary Skills:</strong>
  <%= @interviewer.primaryskills %>
</p>
<p>
  <strong>Primary Skills ID:</strong>
  <%= @interviewer.primaryskills_id %>
</p>
<p>
  <strong>Secondary  Skills:</strong>
  <%= @interviewer.secondaryskills %>
</p>
<p>
  <strong>Secondary Skills ID:</strong>
  <%= @interviewer.secondaryskills_id %>
</p>
<p>
  <strong>Other Skills:</strong>
  <%= @interviewer.otherskills %>
</p>


<%= link_to 'Edit', edit_interviewer_path(@interviewer) %> |
<%= link_to 'Back', interviewers_path %>
