<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewername:</strong>
  <%= @interviewer.interviewername %>
</p>

<p>
  <strong>Interviewercompany:</strong>
  <%= @interviewer.interviewercompany %>
</p>
<p>
  <strong>Skill1:</strong>
  <%= @interviewer.skills1 %>
</p>
<p>
  <strong>Skill2:</strong>
  <%= @interviewer.skills2 %>
</p>
<p>
  <strong>Skill3:</strong>
  <%= @interviewer.skills3 %>
</p>
<p>
  <strong>Skill4:</strong>
  <%= @interviewer.skills4 %>
</p>

<%= link_to 'Edit', edit_interviewer_path(@interviewer) %> |
<%= link_to 'Back', interviewers_path %>
