<%= form_for(@candidate) do |f| %>
<div class="row">
   <div class="col-lg-4 col-lg-offset-4">
       <div class="input-group">
        <% if @candidate.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

            <ul>
            <% @candidate.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

              <div class="field">
                <%= f.label :candidatename %><br>
                <%= f.text_field :candidatename %>
              </div>
              <div class="field">
                <%= f.label :candidateemail %><br>
                <%= f.text_field :candidateemail %>
              </div>
              <div class="field">
                <%= f.label :candidatecontact %><br>
                <%= f.number_field :candidatecontact %>
              </div>
              <div class="field">
                <%= f.label :skills %><br>
                <%=f.select :skills,options_from_collection_for_select(Skillset.all,"companyname","companyname"), :prompt => "--Select Companyname--" %>

              </div>
              <div class="field">
                <%= f.label :YOE %><br>
                <%= f.text_area :YOE %>
              </div>
              <div class="field">
                <%= f.label :interviewername %><br>
                <%= f.text_field :interviewername %>
              </div>
              <div class="field">
                <%= f.label :intervieweremail %><br>
                <%= f.text_field :intervieweremail %>
              </div>
              <div class="field">
                <%= f.label :scheduledate %><br>
                <%= f.text_field :scheduledate %>
              </div>
              <div class="field">
                <%= f.label :scheduletime %><br>
                <%= f.text_field :scheduletime %>
              </div>
              <div class="field">
                <%= f.label :jobdescription %><br>
                <%= f.text_area :jobdescription %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
     </div>
   </div>
</div>
<% end %>
