<!DOCTYPE html>
<html>
<head>
  <title>Interview App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
  <div class="login-form1">
    <div class="thumbnail">
      <img src="assets/Markuci.png" style="margin-top: -19px;"/>
    </div>
  <%= form_for(Company.new,:url => { :action => "forgotpasswor"}) do |f| %>
     <% if flash[:error] -%>
        <p class="alert alert-danger fade in"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:error]%></p>
      <% end -%>
      <% if flash[:notice] -%>
         <p class="alert alert-success fade in"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= flash[:notice]%></p>
       <% end -%>

        <div class="row">
               <div class="input-group">
              <div class="form-group">
                <%= f.text_field :companyemail,:placeholder=>"Company Email" %>
              </div>
              <div class="actions">
                <%= f.submit "Forgot Password",:class=>"btn btn-primary btn-md" %>
              </div>
              <%= link_to 'Login', root_path,:class=>"btn btn-primary btn-md",:id=>"link"%>
              <!-- <%= link_to 'Sign Up', signup_path,:class=>"btn btn-primary btn-md",:id=>"link"%> -->
            </div>

        </div>
      <% end %>
      </div>
</div>
</body>
</html>
