<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover sortable">
  <thead class="bg-success">
    <tr>
      <th class="text-info">Companyemail</th>
      <th class="text-info">Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.companyemail %></td>
        <td><%= company.role %></td>
        <td><%= link_to 'Show', company,:class=>"btn btn-primary btn-sm"%></td>
        <td><%= link_to 'Edit', edit_company_path(company),:class=>"btn btn-info btn-sm" %></td>
        <td><%= link_to 'Destroy', company, method: :delete,:class=>"btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Company', new_company_path %>
