<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @company.companyname %>
</p>

<p>
  <strong>Companyaddress:</strong>
  <%= @company.companyaddress %>
</p>

<p>
  <strong>Contactperson:</strong>
  <%= @company.contactperson %>
</p>

<p>
  <strong>Contactnumber:</strong>
  <%= @company.contactnumber %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
