<%= form_for(@interviewerfeedback) do |f| %>

  <% if @interviewerfeedback.errors.any? %>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div >
      <h2><%= pluralize(@interviewerfeedback.errors.count, "error") %> prohibited this interviewerfeedback from being saved:</h2>

      <ul>
      <% @interviewerfeedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="row">
     <div class="col-lg-4 col-lg-offset-4">
         <div class="input-group">

  <div class="field">
    <%= f.label :interviewername,"Interviewer Name" %><br>
    <%=f.select :interviewername,options_from_collection_for_select(Interviewer.all,"interviewername","interviewername"), :prompt => "--Select Interviewer--" %>
   </div>
  <div class="field">
    <%= f.label :candidatename,"Candidate Name"%><br>
    <%=f.select :candidatename,options_from_collection_for_select(Candidateprofile.all,"candidatename","candidatename"), :prompt => "--Select Candidate--" %>
  </div>
  <div class="field">
    <%= f.label :skills,"Skills"%><br>
    <%=f.select :skills,options_from_collection_for_select(Skillset.all,"skills","skills"), :prompt => "--Select Skills--" %>
  </div>
  <div class="field">
    <%= f.label :feedback,"Feedback"%><br>
    <%= f.text_area :feedback,:id=>"textarea"%>
  </div>
  <div class="field">
    <%= f.label :attachedfile,"Attached File"%><br>
    <%= f.file_field :attachedfile%>
  </div>
  <div class="field">
    <%= f.label :status,"Status"%><br>
    <%= f.select :status, options_for_select([["Pass", "Pass"], ["Fail", "Fail"]]),:prompt => "--Select Status--" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field "companyemail",:class=>"required",:value => session[:companyemail]%>
  </div>
  <div class="form-group">
    <%= f.hidden_field "password",:class=>"required",:value => session[:password]%>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary btn-lg"%>
  </div>
   </div>
  </div>
</div>
<% end %>
