<div class="jumbotron">
<h3 style="margin-top:-10px">Interviewer Feedback</h3>
<%= form_for(@interviewerfeedback) do |f| %>

  <% if @interviewerfeedback.errors.any? %>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div >
      <h4><%= pluralize(@interviewerfeedback.errors.count, "error") %> prohibited this interviewerfeedback from being saved:</h4>

      <ul>
      <% @interviewerfeedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= flash[:notice] %>
   </div>
  <% end %>
  <div class="row">
     <div class="col-lg-4 col-md-offset-2">
         <div class="input-group">
           <div class="field">
             <%= f.label "candidatename","Scheduled Candidate"%><br>
             <%=select_tag 'candidatename',options_from_collection_for_select(Candidateprofile.candidateschedulestatus("schedule"),"id","candidatename"), :prompt => "--Select Candidate--",:class=>"form-control" %>
           </div>
           <div class="form-group">
             <%= f.hidden_field :candidatename%>
           </div>
           <div class="field">
            <%=f.label :interviewername,"Interviewer Name"%><br>
            <%=f.text_field :interviewername,:placeholder=>"Interviewer Name",:class=>"form-control",:readonly=>true%>
           </div>
           <div class="field">
             <%= f.label :skills,"Skills"%><br>
             <%=f.text_field :skills,:class=>"form-control",:placeholder=>"Skills",:readonly=>true%>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-offset-1">
         <div class="input-group">
           <div class="field">
            <%=f.label :scheduledate,"Schedule Date"%><br>
            <%=f.text_field :scheduledate,:class=>"form-control",:placeholder=>"Schedule Date",:readonly=>true%>
           </div>

           <div class="field">
            <%=f.label :scheduletime,"Schedule Time"%><br>
            <%=f.text_field :scheduletime,:placeholder=>"Schedule Time",:class=>"form-control",:readonly=>true%>
           </div>

          <div class="field">
            <%=f.hidden_field :candidatemail,:class=>"form-control"%>
          </div>
          <div class="field">
            <%= f.label :addcomment,"Add Comment" %><br>
            <%= f.text_area :addcomment,:placeholder=>"Add Comment",:class => "form-control required",:required => true%>
          </div>
        </div>
     </div>
   </div>
</div>
<div class="jumbotron">
  <h3 style="margin-top:-10px">Feedback(1-N/A,2-Poor,3-Fair,4-Good,5-Excellent)</h3>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="input-group">
          <div class="field">
            <%= f.label :relevanceexperience,"Relevance Experience"%><br>
            <% (1..5).each do |a|%>
            <%= f.radio_button :relevanceexperience,a%>  <%=a%>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :personality,"Personality"%><br>
            <% (1..5).each do |a|%>
            <%= f.radio_button :personality,a%>  <%=a%>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :communication,"Communication"%><br>
            <% (1..5).each do |a|%>
            <%= f.radio_button :communication, a%>  <%=a%>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :technicalskills,"Technical Skills"%><br>
            <% (1..5).each do |a|%>
            <%= f.radio_button :technicalskills,a%>  <%=a%>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :analyticalskills,"Analytical Skills"%><br>
            <% (1..5).each do |a|%>
            <%= f.radio_button :analyticalskills, a%>  <%=a%>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :jobknowledge,"Job Knowledge"%><br>
            <% (1..5).each do |a|%>
            <%= f.radio_button :jobknowledge, a%>  <%=a%>
            <% end %>
          </div>
           <div class="field">
             <%= f.label :timemanagement,"Time Management"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :timemanagement, a%>  <%=a%>
             <% end %>
           </div>
            <div class="field">
             <%= f.label :commitementtask,"Commitement Task"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :commitementtask, a%>  <%=a%>
             <% end %>
             </div>
           </div>
         </div>
     <div class="col-lg-4 col-lg-offset-1">
        <div class="input-group">
           <div class="field">
             <%= f.label :leadership,"Leadership"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :leadership, a%>  <%=a%>
             <% end %>
           </div>
           <div class="field">
             <%= f.label :teamwork,"Teamwork"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :teamwork, a%>  <%=a%>
             <% end %>
             </div>
           <div class="field">
             <%= f.label :goalsettings,"Goal Settings"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :goalsettings, a%>  <%=a%>
             <% end %>
             </div>
           <div class="field">
             <%= f.label :creativity,"Creativity"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :creativity, a%>  <%=a%>
             <% end %>
            </div>
           <div class="field">
             <%= f.label :flexibility,"Flexibility"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :flexibility, a%>  <%=a%>
             <% end %>
           </div>
           <div class="field">
             <%= f.label :assertiveness,"Assertiveness"%><br>
             <% (1..5).each do |a|%>
             <%= f.radio_button :assertiveness, a,:class=>"assertiveness"%>  <%=a%>
             <% end %>
           </div>
           <div class="field">
             <%= f.label :overallassesment,"Over All Assesment"%><br>
             <%= f.text_field :overallassesment,:placeholder=>"Over All Assesment",:class=>"form-control",:readonly=>true%>
           </div>
          <div class="field">
            <%= f.label :status,"Status"%><br>
            <%= f.select :status, options_for_select([["Pass", "Pass"], ["Fail", "Fail"]]),:prompt => "--Select Status--",:class=>"form-control"%>
          </div>
          <div class="form-group">
            <%=hidden_field_tag :identity%>
          </div>
          <div class="form-group">
            <%= f.hidden_field "companyemail",:class=>"required",:value => session[:companyemail]%>
          </div>
          <div class="form-group">
            <%= f.hidden_field "password",:class=>"required",:value => session[:password]%>
          </div>
        </div>
       </div>
       <div class="row">
         <div  class="col-lg-4 col-lg-offset-5">
          <div class="actions">
            <%= f.submit :class=>"btn btn-primary btn-lg",:id=>"submit"%>
          </div>
        </div>
        </div>

</div>
<% end %>

<script type="text/javascript">

   $('#candidatename').change(function() {
     var q, textmethod, valuemethod;
     q = $(this).val();
     alert(q);
     textmethod = $('#candidatename option:selected').text();
     valuemethod = $('#candidatename option:selected').val();
     $('#interviewerfeedback_candidatename').val(textmethod);
     $('#identity').val(valuemethod);
     $.ajax({
       type: 'GET',
       url: '/candidateprofiles/search',
       dataType: 'json',
       data: {
         'id': q
       },
       success: function(result) {
         var contact, json, parse;
         json = JSON.stringify(result);
         parse = $.parseJSON(json);
         alert(json);
         $('#interviewerfeedback_interviewername').val(parse[0]['interviewername']);
         $('#interviewerfeedback_skills').val(parse[0]['skills']);
         $('#interviewerfeedback_scheduledate').val(parse[0]['scheduledate']);
         $('#interviewerfeedback_scheduletime').val(parse[0]['scheduletime']);
         $('#interviewerfeedback_candidatemail').val(parse[0]['candidateemail']);

         },
        error: function() {
         alert('Error!');
       }
     });
   });

  //  $('#submit').click(function(){
  //    $('#interviewerfeedback_interviewername option:selected').val()=$('#interviewerfeedback_interviewername option:selected').text();
  //  });

  $('input[name="interviewerfeedback[assertiveness]"]').change(function(){
        if(!$('input[name="interviewerfeedback[relevanceexperience]"]:checked').val())
        {
            alert("click relevanceexperience")
        }
        else
        {
        var re=parseFloat($('input[name="interviewerfeedback[relevanceexperience]"]:checked').val());
        var perso=parseFloat($('input[name="interviewerfeedback[personality]"]:checked').val());
        var commu=parseFloat($('input[name="interviewerfeedback[communication]"]:checked').val());
        var ts=parseFloat($('input[name="interviewerfeedback[technicalskills]"]:checked').val());
        var as=parseFloat($('input[name="interviewerfeedback[analyticalskills]"]:checked').val());
        var jn=parseFloat($('input[name="interviewerfeedback[jobknowledge]"]:checked').val());
        var tm=parseFloat($('input[name="interviewerfeedback[timemanagement]"]:checked').val());
        var ct=parseFloat($('input[name="interviewerfeedback[commitementtask]"]:checked').val());
        var ls=parseFloat($('input[name="interviewerfeedback[leadership]"]:checked').val());
        var tw=parseFloat($('input[name="interviewerfeedback[teamwork]"]:checked').val());
        var gs=parseFloat($('input[name="interviewerfeedback[goalsettings]"]:checked').val());
        var cr=parseFloat($('input[name="interviewerfeedback[creativity]"]:checked').val());
        var fl=parseFloat($('input[name="interviewerfeedback[flexibility]"]:checked').val());
        var assert=parseFloat($('input[name="interviewerfeedback[assertiveness]"]:checked').val());
        var avg;
        avg=parseInt((re+perso+commu+ts+as+jn+tm+ct+ls+tw+gs+cr+fl+assert)/14);
        $('#interviewerfeedback_overallassesment').val(avg);
          }
    });
    $('input[type="submit"]').click(function(){
       if($('input[type="text"]').val()=="")
       {
         $('input[type="text"]').css({"border-color":"red","border-width":"2px"});
       }
      if($('input[type="number"]').val()=="")
       {
         $('input[type="number"]').css({"border-color":"red","border-width":"2px"});
       }
       if($('select').val()=="")
       {
         $('select').css({"border-color":"red","border-width":"2px"});
       }
       else
       {
         $('input[type="text"]').css({"border-color":"skyblue"});
         $('input[type="number"]').css({"border-color":"skyblue"});
         $('select').css({"border-color":"skyblue"});
       }
    });

    $('input[type="text"]').change(function(){
         $(this).css({"border-color":"skyblue"});
    });
    $('input[type="number"]').change(function(){
         $(this).css({"border-color":"skyblue"});
    });
    $('select').change(function(){
         $(this).css({"border-color":"skyblue"});
    });
</script>
