<div class="jumbotron">
<p id="notice"><%= notice %></p>

<h3>Interviewerfeedbacks</h3>
<div class="table-responsive">
<table class="table table-bordered table-hover sortable">
  <thead class="bg-success">
    <tr>
      <th class="text-info">Interviewername</th>
      <th class="text-info">Candidatename</th>
      <th class="text-info">Skills</th>
      <th class="text-info" >Feedback</th>
      <th class="text-info">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviewerfeedbacks.each do |interviewerfeedback| %>
      <tr>
        <td><%= interviewerfeedback.interviewername %></td>
        <td><%= interviewerfeedback.candidatename %></td>
        <td><%= interviewerfeedback.skills %></td>
        <td><%= interviewerfeedback.feedback %></td>
        <td><%= interviewerfeedback.status %></td>
        <td><%= link_to 'Show', interviewerfeedback,:class=>"btn btn-primary btn-sm"%></td>
        <td><%= link_to 'Edit', edit_interviewerfeedback_path(interviewerfeedback),:class=>"btn btn-info btn-sm" %></td>
        <td><%= link_to 'Destroy', interviewerfeedback, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
