<% if flash[:notice] %>
<div class="alert alert-success fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= flash[:notice] %>
 </div>
<% end %>

<div class="jumbotron">
<p>
  <strong>Interviewer Name:</strong>
  <%= @interviewerfeedback.interviewername %>
</p>
<p>
  <strong>Candidate Email:</strong>
  <%= @interviewerfeedback.candidatemail %>
</p>

<p>
  <strong>Candidate Name:</strong>
  <%= @interviewerfeedback.candidatename %>
</p>
<p>
  <strong>Skills:</strong>
  <%= @interviewerfeedback.skills %>
</p>
<p>
  <strong>Over All Assesment:</strong>
  <%= @interviewerfeedback.overallassesment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interviewerfeedback.status %>
</p>
<%= link_to 'Send Offer Letter',sendemail_path,:style=>"color:blue"%>
<%= link_to 'Back', interviewerfeedbacks_path %>
</div>
