<%= form_for(@candidateprofile) do |f| %>


  <% if @candidateprofile.errors.any? %>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div >
      <h4><%= pluralize(@candidateprofile.errors.count, "error") %> prohibited this candidateprofile from being saved:</h4>

      <ul>
      <% @candidateprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= flash[:notice] %>
   </div>
  <% end %>
  <div class="row">
     <div class="col-lg-4 col-lg-offset-2">
         <div class="input-group">
  <div class="form-group">
    <%= f.label 'candidatename',"Candidate Name"%><br>
    <%= select_tag 'candidatename',options_from_collection_for_select(Candidatedetail.candidatestatus("new"),"id","candidatename"),:prompt => "-- Select Candidate Name --",:class=>"selectpicker","data-live-search"=>"true","data-width"=>"auto"%>
  </div>

  <div class="form-group">
    <%= f.hidden_field :candidatename%>
  </div>
  <div class="form-group">
    <%= f.label :candidateemail,"Candidate Email" %><br>
    <%= f.text_field :candidateemail,:placeholder=>"Candidate Email" ,:readonly => true,:class => "form-control required",:required => true%>
  </div>
  <div class="form-group">
    <%= f.label :candidatecontact,"Candidate Contact"%><br>
    <%= f.text_field :candidatecontact,:placeholder=>"Candidate Contact",:readonly => true,:class => "form-control required",:required => true%>
  </div>
  <div class="form-group">
    <%= f.label :primaryskills,"Primary Skills" %><br>
    <%=f.text_field :primaryskills,:placeholder=>"Candidate Primary Skills",:readonly => true,:class => "form-control required",:required => true%>
  </div>
  <div class="form-group">
    <%= f.hidden_field "primaryskills_id",:value=>session[:primaryskills_id]%>
  </div>
  <div class="form-group">
    <%= f.label :secondaryskills,"Secondary Skills" %><br>
    <%=f.text_field :secondaryskills,:placeholder=>"Candidate Secondary Skills",:readonly => true,:class => "form-control required",:required => true%>
  </div>
  <div class="form-group">
    <%= f.hidden_field "secondaryskills_id",:value=>session[:secondaryskills_id]%>
  </div>
  <div class="form-group">
    <%= f.label :otherskills,"Other Skills" %><br>
    <%=f.text_field :otherskills,:placeholder=>"Candidate Other Skills",:readonly => true,:class => "form-control required",:required => true%>
  </div>
  <div class="form-group">
    <%= f.hidden_field "otherskills_id",:value=>session[:otherskills_id]%>
  </div>

  <div class="form-group">
    <%= f.label :YOE,"Year Of Experience " %><br>
    <%= f.text_field :YOE,:placeholder=>"Year Of Experience",:readonly => true,:class => "form-control required",:required => true%>
  </div>


</div>
</div>
<div class="col-lg-3 col-lg-offset-1">
    <div class="input-group">
      <div class="form-group">
        <%= f.label :jobtitle,"Job Title" %><br>
        <%= f.text_field :jobtitle,:placeholder=>"Job Title",:readonly => true,:class => "form-control required",:required => true%>
      </div>
      <div class="form-group">
        <%= f.label 'interviewername',"Interviewer Name"%><br>
        <%= select_tag 'interviewername',"<option value="">--Select Interviewername--</option>".html_safe%>
      </div>

      <div class="form-group">
        <%= f.hidden_field :interviewername%>
      </div>
  <div class="form-group">
    <%= f.label :intervieweremail ,"Interviewer Mail"%><br>
    <%=f.text_field :intervieweremail,:placeholder=>"Interviewer Mail",:readonly => true,:class => "form-control required",:required => true%>
  </div>
  <div class="form-group">
    <%= f.label :scheduledate,"Schedule Date" %><br>
    <div class='input-group date' id='datetimepicker4'>
        <%= f.text_field :scheduledate,:class=>"form-control"%>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
          </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :scheduletime,"Schedule Time"%><br>
    <div class='input-group date' id='datetimepicker3'>
        <%= f.text_field :scheduletime,:class=>"form-control"%>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
          </span>
    </div>
    </div>
  <div class="form-group">
    <%= f.label :jobdescription,"Job Description" %><br>
    <%= f.text_area :jobdescription,:placeholder=>"Job Description",:class => "form-control required",:required => true%>
  </div>
  <div class="form-group">
    <%= f.hidden_field "companyemail",:class=>"required",:value => session[:companyemail]%>
  </div>
  <div class="form-group">
    <%= f.hidden_field "password",:class=>"required",:value => session[:password]%>
  </div>
  <div class="form-group">
    <%=hidden_field_tag :identity%>
  </div>
  <div class="form-group">
    <%= f.hidden_field :status,:value =>"schedule"%>
  </div>
  <div class="form-group">
    <%= f.hidden_field :candidatedetail_id%>
  </div>
  <div class="form-group">
    <%= f.hidden_field :previouscompany%>
  </div>
</div>
</div>

<div class="row">
  <div  class="col-lg-4 col-lg-offset-5">
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary btn-lg"%>
  </div>
</div>
</div>
</div>
<% end %>
 <script type="text/javascript">
 $('.selectpicker').selectpicker({
     size: "fit",
     showTick:true,
     tickIcon:"",
     showTick:true
 });
   var pd = new Date();
   pd.setDate(pd.getDate());
  $('#datetimepicker3').datetimepicker({
      format: 'LT'
    });

  $('#datetimepicker4').datetimepicker({
      format: 'DD-MM-YYYY',
      minDate:pd
    });

 $('#candidatename').change(function() {
   if($("#candidatename option:selected").index() > 0)
   {
   var q, textmethod, valuemethod;
   q = $(this).val();
   textmethod = $('#candidatename option:selected').text();
   valuemethod = $('#candidatename option:selected').val();
   $('#candidateprofile_candidatename').val(textmethod);
   $('#identity').val(valuemethod);
   $('#candidateprofile_candidatedetail_id').val(valuemethod);
   $.ajax({
     type: 'GET',
     url: '/candidatedetails/search',
     dataType: 'json',
     data: {
       'id': q
     },
     success: function(result) {
       var contact, json, parse;
       json = JSON.stringify(result);
       parse = $.parseJSON(json);
       alert(json);
       $('#candidateprofile_candidateemail').val(parse[0]['candidateemail']);
       contact = parseFloat(parse[0]['candidatecontact']);
       $('#candidateprofile_candidatecontact').val(contact);
       $('#candidateprofile_primaryskills').val(parse[0]['primaryskills']);
       $('#candidateprofile_primaryskills_id').val(parse[0]['primaryskills_id']);
       $('#candidateprofile_secondaryskills').val(parse[0]['secondaryskills']);
       $('#candidateprofile_secondaryskills_id').val(parse[0]['secondaryskills_id']);
       $('#candidateprofile_otherskills').val(parse[0]['otherskills']);
       $('#candidateprofile_otherskills_id').val(parse[0]['otherskills_id']);
       $('#candidateprofile_YOE').val(parse[0]['yoe']);
       $('#candidateprofile_jobtitle').val(parse[0]['jobtitle']);
       $('#candidateprofile_previouscompany').val(parse[0]['previouscompany']);
       dropdown();
     },
     error: function() {
       alert('Error!');
     }
   });
  }
  else
  {
    $('#candidateprofile_candidateemail').val("");
    $('#candidateprofile_candidatecontact').val("");
    $('#candidateprofile_primaryskills').val("");
    $('#candidateprofile_primaryskills_id').val("");
    $('#candidateprofile_secondaryskills').val("");
    $('#candidateprofile_secondaryskills_id').val("");
    $('#candidateprofile_otherskills').val("");
    $('#candidateprofile_otherskills_id').val("");
    $('#candidateprofile_YOE').val("");
    $('#candidateprofile_jobtitle').val("");
    $('#candidateprofile_previouscompany').val("");
    $("#candidateprofile_intervieweremail").val("");
    $('#interviewername').empty();
    $('#interviewername').append($("<option />").attr("value", '').text('--Select Interviewername--'));
  }
 });

 $('#interviewername').change(function() {
   var name;
   name = $(this).val();
   alert(name);
   textmethod = $('#interviewername option:selected').text();
   valuemethod = $('#interviewername option:selected').val();
   $('#candidateprofile_interviewername').val(textmethod);
   $.ajax({
     type: 'GET',
     url: '/interviewers/search',
     dataType: 'json',
     data: {
       'id': name
     },
     success: function(result) {
       var json, parse;
       json = JSON.stringify(result);
       parse = $.parseJSON(json);
       alert(json);
       $("#candidateprofile_intervieweremail").val(parse[0]['companyemail']);
     },
     error: function() {
       alert('Error!');
     }
   });
 });

  function dropdown()
  {
    var psid= $('#candidateprofile_primaryskills_id').val();
    var ssid= $('#candidateprofile_secondaryskills_id').val();
    //var osid= $('#candidateprofile_otherskills_id').val();
    alert(psid+ssid);
   $.ajax({
     type: 'GET',
     url: '/interviewers/searchinterviewer',
     dataType: 'json',
     data: {
       'primaryskills': psid,
       'secondaryskills':ssid
     },
     success: function(result) {
       $('#interviewername').empty();
       $('#interviewername').append($("<option />").attr("value", '').text('--Select Interviewername--'));
       $.each(result, function (key, val) {
         $('#interviewername').append('<option value="' + val.id + '">'+ val.interviewername + '</option>');
       })
     },
     error: function() {
       alert('Error!');
     }
   });
  }

 $('input[type="submit"]').click(function(){
    if($('input[type="text"]').val()=="")
    {
      $('input[type="text"]').css({"border-color":"red","border-width":"2px"});
    }
   if($('input[type="number"]').val()=="")
    {
      $('input[type="number"]').css({"border-color":"red","border-width":"2px"});
    }
    if($('select').val()=="")
    {
      $('select').css({"border-color":"red","border-width":"2px"});
    }
    else
    {
      $('input[type="text"]').css({"border-color":"skyblue"});
      $('input[type="number"]').css({"border-color":"skyblue"});
      $('select').css({"border-color":"skyblue"});
    }
 });

   $('input[type="text"]').change(function(){
        $(this).css({"border-color":"skyblue"});
   });
   $('input[type="number"]').change(function(){
        $(this).css({"border-color":"skyblue"});
   });
   $('select').change(function(){
        $(this).css({"border-color":"skyblue"});
   });

 </script>
