.jumbotron
  %h3 Candidate Schedule Reports
  .table-responsive
    %table.datatable.table.table-bordered.table-hover.sortable
      %thead.bg-success
        %tr
          %th.text-info Candidate Name
          %th.text-info Candidate Email
          %th.text-info Candidate Contact
          %th.text-info Skills
          %th.text-info YOE
          %th.text-info Interviewer Name
          %th.text-info Interviewer Email
          %th.text-info Schedule Date
          %th.text-info Schedule Time
          %th.text-info Job Title
          /
            <th class="text-info" >Show</th>
            <th class="text-info">Edit</th>
            <th class="text-info">Destroy</th>
      %tbody
        - @candidateprofiles.each do |candidateprofile|
          %tr{"data-link" => "#{edit_candidateprofile_path(candidateprofile)}"}
            %td= candidateprofile.candidatename
            %td= candidateprofile.candidateemail
            %td= candidateprofile.candidatecontact
            %td= candidateprofile.skills
            %td= candidateprofile.YOE
            %td= candidateprofile.interviewername
            %td= candidateprofile.intervieweremail
            %td= candidateprofile.scheduledate
            %td= candidateprofile.scheduletime
            %td= candidateprofile.jobtitle
            /
              <td><haml_loud> link_to &#39;Show&#39;, candidateprofile,:class=&gt;&quot;btn btn-primary btn-sm&quot;</haml_loud></td>
              <td><haml_loud> link_to &#39;Edit&#39;, edit_candidateprofile_path(candidateprofile),:class=&gt;&quot;btn btn-info btn-sm&quot;</haml_loud></td>
              <td><haml_loud> link_to &#39;Destroy&#39;, candidateprofile, method: :delete, data: { confirm: &#39;Are you sure?&#39; },:class=&gt;&quot;btn btn-danger btn-sm&quot;</haml_loud></td>
  %br/
  :javascript
    
      $('.datatable').DataTable({
      "paging": true,
      "ordering": true,
      "info": true,
      "scrollX": "100%",
      "scrollY": "300px"
      });
      $("tr[data-link]").click(function() {
      window.location = $(this).data("link");
      });
