.jumbotron
  %h3{:style => "margin-bottom:25px"} Candidate Schedule
  .table-responsive
    %table#example.datatable.table.table-bordered.table-hover.sortable
      .row
        .col-lg-3.col-lg-offset-2
          .form-group
            #datetimepicker1.input-group.date
              %input#datesearch.form-control{:onkeypress => "return isNumberKey(event)", :placeholder => "Schedule Date", :type => "text"}/
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
        .col-lg-3.col-lg-offset-2
          .form-group
            %input#myInput.form-control{:placeholder => "Candidate Name", :type => "text"}/
      %thead.bg-success
        %tr
          %th.text-info Candidate Name
          %th.text-info Candidate Contact
          %th.text-info Skills
          %th.text-info YOE
          %th.text-info Interviewer Name
          %th.text-info Schedule Date
          %th.text-info Schedule Time
          %th.text-info Status
      %tbody
        - @candidateprofiles.each do |candidateprofile|
          - if candidateprofile.status=="interview"
            %tr{:bgcolor => "#c4f7b8"}
              %td= candidateprofile.candidatename
              %td= candidateprofile.candidatecontact
              %td= candidateprofile.skills
              %td= candidateprofile.YOE
              %td= candidateprofile.interviewername
              %td= candidateprofile.scheduledate
              %td= candidateprofile.scheduletime
              %td= candidateprofile.status
          - else
            %tr{:bgcolor => "#f7b8b8"}
              %td= candidateprofile.candidatename
              %td= candidateprofile.candidatecontact
              %td= candidateprofile.skills
              %td= candidateprofile.YOE
              %td= candidateprofile.interviewername
              %td= candidateprofile.scheduledate
              %td= candidateprofile.scheduletime
              %td= candidateprofile.status
  %br/
:javascript

      $('.datatable').DataTable({
      "paging": true,
      "bFilter": true,
      "bInfo": true,
      "scrollX": "100%",
      "scrollY":"300px",
      "sDom": 'rtip'
      })
      $('#datetimepicker1').datetimepicker({
      format: 'DD-MM-YYYY'
      });
      var table = $('.datatable').DataTable();
      $('#datetimepicker1').on("dp.change", function(e) {
      table.columns(5).search($('#datesearch').val()).draw();
      });

      $('#myInput').on('keyup  change',function(){
      table.columns(0).search($(this).val()).draw();
      });
      function isNumberKey(evt)
      {
      var charCode = (evt.which) ? evt.which : event.keyCode
      if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
      return true;
      }


      \// $('.datatable tfoot th').each( function () {
      \//           var title = $(this).text();
      \//           $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      \//   });
      \//
      \//       // DataTable
      \//      var table = $('.datatable').DataTable();
      \//O
      \//       // Apply the search
      \//       table.columns().every( function () {
      \//           var that = this;
      \//           $( 'input', this.footer() ).on( 'keyup change', function () {
      \//               if ( that.search() !== this.value ) {
      \//                   that
      \//                       .search( this.value )
      \//                       .draw();
      \//               }
      \//           });
      \//        );
