<p id="notice"><%= notice %></p>

<p>
  <strong>Candidatename:</strong>
  <%= @candidateprofile.candidatename %>
</p>

<p>
  <strong>Candidateemail:</strong>
  <%= @candidateprofile.candidateemail %>
</p>

<p>
  <strong>Candidatecontact:</strong>
  <%= @candidateprofile.candidatecontact %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @candidateprofile.skills %>
</p>

<p>
  <strong>Yoe:</strong>
  <%= @candidateprofile.YOE %>
</p>

<p>
  <strong>Interviewername:</strong>
  <%= @candidateprofile.interviewername %>
</p>

<p>
  <strong>Intervieweremail:</strong>
  <%= @candidateprofile.intervieweremail %>
</p>

<p>
  <strong>Scheduledate:</strong>
  <%= @candidateprofile.scheduledate %>
</p>

<p>
  <strong>Scheduletime:</strong>
  <%= @candidateprofile.scheduletime %>
</p>

<p>
  <strong>Jobdescription:</strong>
  <%= @candidateprofile.jobdescription %>
</p>

<%= link_to 'Edit', edit_candidateprofile_path(@candidateprofile) %> |
<%= link_to 'Back', candidateprofiles_path %>
