%p#notice= notice
%p
  %strong Candidatename:
  = @candidateprofile.candidatename
%p
  %strong Candidateemail:
  = @candidateprofile.candidateemail
%p
  %strong Candidatecontact:
  = @candidateprofile.candidatecontact
%p
  %strong Skills:
  = @candidateprofile.skills
%p
  %strong Yoe:
  = @candidateprofile.YOE
%p
  %strong Interviewername:
  = @candidateprofile.interviewername
%p
  %strong Intervieweremail:
  = @candidateprofile.intervieweremail
%p
  %strong Scheduledate:
  = @candidateprofile.scheduledate
%p
  %strong Scheduletime:
  = @candidateprofile.scheduletime
%p
  %strong Jobdescription:
  = @candidateprofile.jobdescription
= link_to 'Edit', edit_candidateprofile_path(@candidateprofile)
|
= link_to 'Back', candidateprofiles_path
