<!DOCTYPE html>
<html>
<head>
  <title>Interviewerapp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
  <div class="container">
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #3396D1;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle sidebar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <img src="/assets/Markuci.png" id="logo"/>
        <a class="navbar-bran" href="/schedulereport" style="color:white;text-decoration: none;">InterviewApp</a>
      </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:30px">
        <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidates<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/candidateentry" style="">Candidates Profile</a></li>
            <li class="divider"></li>
            <li><a href="/candidateschedule">Candidates Schedule</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Interview Feedback<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/interviewerfeed">Interviewer Feedback</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/candidatereports">Candidate Reports</a></li>
            <li class="divider"></li>
            <li><a href="/candidateschedulereports">Candidate Schedule Reports</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-th text-success"></span>  Home</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil text-success"></span>  DashBoard</a></li>
            <li><%=link_to :action => "signout",:controller=>"application" do%>  <span class="glyphicon glyphicon-log-out text-success"></span>  Signout<%end%></li>

          </ul>
        </li>
      </ul>
      </div>

   </div>
 </nav>
</div>

</div>
<div class="container">
<%= yield %>
</div>
<script type="text/javascript">
   $('.navbar-toggle .collapsed').click(function(){
        alert("Sidebar");
   });
</script>

</body>
</html>
